footer {
  background-color: $footer-color;
  .container {
    @include container-standart;
    .footer_left {
      width: 50%;
      color: $footer-text-color;
      font-size: $footer-font-size;
      .footer_left_text {
        padding-top: 40px;
        width: 68%;
      }
    }
    .footer_right {
      width: 50%;
      color: $footer-text-color;
      font-size: 16px;
      display: flex;
      justify-content: right;
      gap: 35px;
      .footer_right__contact {
        .mail {
          font-size: $footer-font-size;
          margin-bottom: 10px;
        }
        .join {
          .join_logo {
            margin-top: 5px;
          }
        }
      }
    }
  }
}