@font-face {
  font-family: "Poppins";
  src: local("./../../assets/fonts/Poppins-Regular"), local("Poppins-Regular"),
  url("./../../assets/fonts/Poppins-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}