$font-family_poppins: Poppins;
$top-height: 800px;
$navigation_padding_top: 25px;
$navigation_padding_left: 10%;
$navigation_padding_right: 10%;
$right_top_gap: 80px;
$right_top_color: white;
$right_top_button_color: #2EACF3;
$right_top_button_height: 35px;
$right_top_button_width: 145px;
$top_info_padding_top: 190px;
$top_info_padding_bottom: 100px;
$rest1_padding_bottom: 40px;
$font-size-header: 16px;
$font-size-agree: 14px;
$font-size-section1: 16px;
$padding-top-section1: 130px;
$padding-top-section1: 130px;
$background-color-section-second: #F4F4FA;
$discription-block-width: 33%;
$footer-color: #343434;
$footer-text-color: #909090;
$footer-font-size: 12px;
$footer-padding-top: 110px;
$footer-padding-bottom: 100px;
$container-max-width: 1100px;

$hd: 1280px;
$bp1: 767px;
$bp2: 480px;
$bp3: 320px;